.jumbotron {
  background: #ffd900;
  color: rgb(0, 0, 0);
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #000000;
  border-color: #000000;
}
.jumbotron .btn-primary:hover {
  background: #c8ff00;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #949c48;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid rgb(0, 0, 0);
}
.jumbotron .lang-logo img {
  max-width: 10%;
}
