.jumbotron {
  background: #ffd900;
  color: rgb(0, 0, 0);
  padding-bottom: 80px;
  font-family: sans-serif;
}
.jumbotron .btn-primary {
  background: #000000;
  border-color: #000000; 
  
  
}
.jumbotron .btn-primary:hover {
  background: #dcdfd1;
}
.jumbotron p {
  color: #e1e2da;
  max-width: 100%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 60px;
  font-family: sans-serif;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #949c48;
  border-radius: 20%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: initial;
  border: 2px solid rgb(0, 0, 0);
}
.jumbotron .lang-logo img {
  max-width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
